$estilos_tip: (
    negrita: bold,
    size: 3rem
);

$estilos: (
    color: #ffe4c4
);

/* MAP-GET */

.encabezado {
    font-weight: map-get($estilos_tip, negrita);
    font-size:  map-get($estilos_tip, size);
    color: map-get($estilos, color);
}

.encabezado_color {
    color: map-get($estilos, color);
    font-weight: map-get($estilos_tip, negrita);
}

.encabezado {
    font-family: 'Anton', sans-serif;
    font-family: 'BIZ UDMincho', serif;
}