* {
  margin: 0;
  padding: 0; }

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px; }

/* MAP-GET */
.encabezado {
  font-family: "'Anton', sans-serif ";
  font-family: "'BIZ UDMincho', serif ";
  font-weight: bold;
  font-size: 3rem;
  color: #ffe4c4; }

.encabezado_color {
  color: #ffe4c4;
  font-weight: bold; }

body {
  background-image: url(../src/images/fondo-pizza.jpg); }

.footerestilo1, .footerestilo {
  font-size: 1.5rem;
  text-align: center;
  color: antiquewhite; }

/* EXTEND */
.footerestilo {
  font-size: 1.75rem; }

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  bottom: 30px;
  right: 30px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 3px 20px rgba(175, 18, 18, 0.941);
  z-index: 100;
  transition: all 300ms ease; }

.btn-wsp:hover {
  background: #20ba5a; }

.transform1:hover {
  font-size: 2rem;
  transition: all 1s; }

.transform2:hover {
  font-size: 1.6rem;
  transition: all 1s; }

.transform4:hover {
  transform: rotateY(360deg);
  transition: all 3s; }

@media (max-width: 650px) {
  .footerestilo {
    font-size: 0.75rem;
    text-align: center;
    color: antiquewhite; }
  .footerestilo1, .footerestilo {
    font-size: 0.70rem;
    text-align: center; }
  .footerlogo {
    width: 100px;
    margin-left: 3rem; }
  .footertext {
    display: none; }
  .encabezado {
    font-size: 1.5rem; }
  .btn-wsp {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 40px;
    font-size: 35px; }
  .footer_platos {
    display: none; } }
