* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../src/images/fondo-pizza.jpg);

}

.footerestilo1 {
    font-size: 1.5rem;
    text-align: center;
    color: antiquewhite;
}

.footerestilo {
    font-size: 1.75rem;
    text-align: center;
    color: antiquewhite;
}


@media (max-width:450px) {


    .footerestilo {
        font-size: 0.75rem;
        text-align: center;
        color: antiquewhite;
    }

    .footerestilo1 {
        font-size: 0.70rem;
        text-align: center;
    }



    .footerlogo {
        width: 100px;
        margin-left: 3rem;


    }

    .footertext {
        display: none;
        ;
    }

   

}